<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <title>我的积分</title>
    <link rel="stylesheet" href="__ROOT__/public/Reception/css/my_score.css"/>
</head>
<body>
<div id="header">
    <div id="head_info">
        <div class="info_left">
            <img src="__ROOT__/public/Reception/images/touxiang.jpg" />
            <div class="info_txt">
                <p class="info_p">某某的昵称</p>
                <span >普通会员</span>
            </div>
            <div class="info_score">
                <p class="info_num">300</p>
                <span>总积分</span>
            </div>
        </div>
    </div>
</div>
<div class="score_box">
    <div id="score_details">
        <span>积分明细</span>
    </div>
    <div class="score_month">
        <span class="month">本月</span>
        <div class="month_right">
            <span class="huoQu">获取：<b>30</b></span>
            <span class="shiYong">使用：<b>0</b></span>
        </div>
    </div>
    <div class="score_pay">
        <div class="pay_left">
            <p class="left_p1">购买服务包</p>
            <p class="left_time">2017-9-20</p>
        </div>
        <div class="pay_right">+10</div>
    </div>
    <div class="score_pay">
        <div class="pay_left">
            <p class="left_p1">分享好友</p>
            <p class="left_time">2017-9-18</p>
        </div>
        <div class="pay_right">+5</div>
    </div>
    <div class="score_pay">
        <div class="pay_left">
            <p class="left_p1">购买服务包</p>
            <p class="left_time">2017-9-8</p>
        </div>
        <div class="pay_right">+10</div>
    </div>
    <div class="score_pay">
        <div class="pay_left">
            <p class="left_p1">分享好友</p>
            <p class="left_time">2017-9-2</p>
        </div>
        <div class="pay_right">+5</div>
    </div>
</div>
<div class="score_box score_box2">
    <div class="score_month score_month2">
        <span class="month">2017-8</span>
        <div class="month_right">
            <span class="huoQu">获取：<b>25</b></span>
            <span class="shiYong">使用：<b>10</b></span>
        </div>
    </div>
    <div class="score_pay">
        <div class="pay_left">
            <p class="left_p1">购买服务包</p>
            <p class="left_time">2017-8-20</p>
        </div>
        <div class="pay_right">+10</div>
    </div>
    <div class="score_pay">
        <div class="pay_left">
            <p class="left_p1">分享好友</p>
            <p class="left_time">2017-8-18</p>
        </div>
        <div class="pay_right">+5</div>
    </div>
    <div class="score_pay">
        <div class="pay_left">
            <p class="left_p1">购买服务包</p>
            <p class="left_time">2017-8-8</p>
        </div>
        <div class="pay_right">+10</div>
    </div>
    <div class="score_pay">
        <div class="pay_left">
            <p class="left_p1">兑换礼品</p>
            <p class="left_time">2017-8-2</p>
        </div>
        <div class="pay_right pay_right2">-10</div>
    </div>
</div>
</body>
</html>