<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <title>服务详情</title>
    <link rel="stylesheet" href="__ROOT__/public/Reception/css/service_details.css"/>
</head>
<body>
<div class="container">
    <div class="bar">
        <ul>
            <li>服务特色</li>
        </ul>
    </div>
    <div class="service_box">
        <div class="file_man">
            <p class="pic"><img src="__ROOT__/public/Reception/images/service/da.jpg" alt=""/></p>
            <p class="txt">专属档案管理</p>
        </div>
        <div class="file_man">
            <p class="pic"><img src="__ROOT__/public/Reception/images/service/yao.jpg" alt=""/></p>
            <p class="txt">用药时间提醒</p>
        </div>
        <div class="file_man">
            <p class="pic"><img src="__ROOT__/public/Reception/images/service/weiketang.jpg" alt=""/></p>
            <p class="txt">在线微课堂</p>
        </div>
        <div class="file_man">
            <p class="pic"><img src="__ROOT__/public/Reception/images/service/24.png" alt=""/></p>
            <p class="txt">24小时服务</p>
        </div>
        <div class="file_man">
            <p class="pic"><img src="__ROOT__/public/Reception/images/service/libao.png" alt=""/></p>
            <p class="txt">大礼包</p>
        </div>
        <div class="file_man">
            <p class="pic"><img src="__ROOT__/public/Reception/images/service/pg.png" alt=""/></p>
            <p class="txt">健康风险评估</p>
        </div>
    </div>
</div>
<div class="container container2">
    <div class="bar">
        <ul>
            <li>服务流程</li>
        </ul>
    </div>
    <div class="liuCheng">
        <img src="__ROOT__/public/Reception/images/service/tuxing.png" alt=""/>
    </div>
</div>
<div class="container container3">
    <div class="bar">
        <ul>
            <li>服务说明</li>
        </ul>
    </div>
    <div class="shuoMing">
        <p>1.百度百科是众人参与可协作的网络百科全书，无论是创建词条、编辑现有词条，您都可以亲手为百度百科作出贡献。</p>
        <p>1.百度百科是众人参与可协作的网络百科全书，无论是创建词条、编辑现有词条，您都可以亲手为百度百科作出贡献。</p>
        <p>1.百度百科是众人参与可协作的网络百科全书，无论是创建词条、编辑现有词条，您都可以亲手为百度百科作出贡献。</p>
        <p>1.百度百科是众人参与可协作的网络百科全书，无论是创建词条、编辑现有词条，您都可以亲手为百度百科作出贡献。</p>
    </div>
</div>
<div id="footer">
    <div class="left">
        <p>
            <span>¥</span>
            <span>468</span>
            <s>¥888</s>
        </p>
    </div>
    <div class="right">
        <a href="">立即购买</a>
    </div>
</div>
</body>
</html>