<div id="isert-div">

<!-- 	<div><input type="file" name="page"/></div> -->
			
		<!-- <form  method="post" name="form" enctype="multipart/form-data" action="__APP__/level/inser" onSubmit="return beforeSubmit(this);"> -->
			<table cellspacing="0" id="consu-table">
				<tr>
					<td colspan="2">
							<div id="preview">
								<img id="imghead" border="0" src="__ROOT__/Public/images/photo_icon.png" width="90" height="90" onClick="$('#previewImg').click();">
							 </div>    
							<input type="file" onChange="previewImage(this)" style="display: none;" id="previewImg" name="img">
					</td>
				</tr>
				<tr>
					<td class="td">姓名：</td>
					<td><input style="border:0;color:#202020;" type="text" name="name" id="name" placeholder="请点击输入" ></td>	
				</tr>
				<tr>
					<td class="td">主治：</td>
					<td><input style="border:0;color:#202020;" type="text" name="physician" id="physician" placeholder="请点击输入" ></td>	
				</tr>
				<tr>
					<td class="td">专科：</td>
					<td><input style="border:0;color:#202020;" type="text" name="Specialty" id="Specialty" placeholder="请点击输入" ></td>
				</tr>
				<tr>
					<td class="td">毕业学校：</td>
					<td><input style="border:0;color:#202020;" type="text" name="school" id="school" placeholder="请点击输入" ></td>
				</tr>
				<tr>
					<td class="td">组别：</td>
					<td><input style="border:0;color:#202020;" type="text" name="group" id="group" placeholder="请点击输入" ></td>
				</tr>
				<tr>
					<td class="td">简介：</td>
					<td><textarea style="width:100%; height:100px; color:#202020;" placeholder="请点击输入" name="brief" id="brief"></textarea></td>
				</tr>
				<tr>
					<td class="td">擅长：</td>
					<td><textarea style="width:100%; height:100px; color:#202020;" placeholder="请点击输入" name="Begood" id="Begood"></textarea></td>
				</tr>
			</table> <!-- placeholder="请输入简介内容..." -->
			<a href="javascript:;" class="modify">保 存
	   			<input type="submit" id="Prese">
			</a>
		<!-- </form>	 -->
	</div>
	<!-- <script type="text/javascript">
		function beforeSubmit(form){
		if(form.img.value==''){
		alert('请上传图片！');
		form.img.focus();
		return false;
		}
		if(form.name.value==''){
		alert('姓名不能为空！');
		form.name.focus();
		return false;
		}
		if(form.group.value==''){
		alert('组别不能为空！');
		form.group.focus();
		return false;
		}
		if(form.brief.value==''){
		alert('简介不能为空！');
		form.brief.focus();
		return false;
		}
		return true;
		}
	</script> -->
<script type="text/javascript" src="__ROOT__/library/js/jquery.min.js"></script>
 <script>
      //图片上传预览    IE是用了滤镜。
        function previewImage(file)
        {
          var MAXWIDTH  = 90; 
          var MAXHEIGHT = 90;
          var div = document.getElementById('preview');
          if (file.files && file.files[0])
          {
              div.innerHTML ='<img id=imghead onclick=$("#previewImg").click()>';
              var img = document.getElementById('imghead');
              img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
		//               img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
              }
              var reader = new FileReader();
              reader.onload = function(evt){img.src = evt.target.result;}
              reader.readAsDataURL(file.files[0]);
          }
          else //兼容IE
          {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead>';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
          }
        }
        function clacImgZoomParam( maxWidth, maxHeight, width, height ){
            var param = {top:0, left:0, width:width, height:height};
            if( width>maxWidth || height>maxHeight ){
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;
                
                if( rateWidth > rateHeight ){
                    param.width =  maxWidth;
                    param.height = Math.round(height / rateWidth);
                }else{
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }
            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }
		


 		</script>
	<script>	
		/*图片传值操作*/
		$("#Prese").click(function() { 
		var name=$('#name').val();//姓名
		var physician=$('#physician').val();//主治
		var Specialty=$('#Specialty').val();//专科
		var Begood=$('#Begood').val();//擅长
		var brief=$('#brief').val();//简介
		var previewImg=$('#previewImg').val();//头像
		var group=$('#group').val();//组别
		if(previewImg == ""){
			alert('头像不能为空！');
			return false;
		}
		if(name == ""){
			alert('姓名不能为空！');
			return false;
		}
		if(group == ""){
			alert('组别不能为空！');
			return false;
		}
		if(brief == ""){
			alert('简介不能为空！');
			return false;
		}
		
		var imgone=$("#imghead")[0].src;
		console.log(imgone);
 		$.ajax({
			type: "post",
			url: "__APP__/Level/inser",
			data: {			
				name:name,
				brief:brief,
				previewImg:previewImg,
				group:group,		
				imgone:imgone	
			},
			dataType: "json",
			success:function(data){

				if(data.code==1){
					layer.msg(data.msg, {shift: -1},function(){
						window.setTimeout("window.location.href='__APP__/Consu/index'",2000);
					});
				}else{
					layer.msg(data.msg);
				}
			}
		});
 	})
    </script>