<div style="font-size:20px;margin:1% 1%;border-bottom: 1px solid #ddd;padding:0 0 10px 0">硬件数据</div>

<div id="dev-huan" style="margin-left:4%;">
		<form action="__APP__/Device/insert" method="post">	
			<table style="width:65%;">
				<tr>
					<td style="font-size:16px;">设备类型：</td>
					<td>
						<select name="select" class="pat-na">
							<option class="pat-na" name="patna">血压计</option>
							<option class="pat-na" name="patna">压血计</option>
							<option class="pat-na" name="patna">计血压</option>
    					</select>
    				</td>
					<td style="font-size:16px;">设备编号：</td>
					<td><input type="text" style="font-size:16px;" placeholder="请输入设备编号..." name="text"></td>
					<td><a href="javascript:;" id="caxun">查询<input type="submit"></a></td>
				</tr>
			</table>
		</from>
</div>
<div id="dev-div">
		<table cellspacing="0">
			<tr id="dev-tr">
				<td>患 者 姓 名</td>
				<td>设 备 编 号</td>
				<td>设 备 类 型</td>
				<td>数 据 绑 定</td>
				<td style="width:51%;">解 除 绑 定</td>
			</tr>
			<tr>
				<td>安保处</td>
				<td>2131564JGHsa</td>
				<td>血压计</td>
				<td><a href="javascript:;" class="details" ><img class="pat-img" src="__ROOT__/public/images/hzgl/binding.png"/></a></td>
				<td style="width:51%;"><img class="pat-img" src="__ROOT__/public/images/hzgl/jiebang.png"/></td>
			</tr>
			<tr>
				<td>安保处</td>
				<td>2131564JGHsa</td>
				<td>血压计</td>
				<td><a href="javascript:;" class="details" ><img class="pat-img" src="__ROOT__/public/images/hzgl/binding.png"/></a></td>
				<td style="width:51%;"><img class="pat-img" src="__ROOT__/public/images/hzgl/jiebang.png"/></td>
			</tr>
			<tr>
				<td>安保处</td>
				<td>2131564JGHsa</td>
				<td>血压计</td>
				<td><a href="javascript:;" class="details" ><img class="pat-img" src="__ROOT__/public/images/hzgl/binding.png"/></a></td>
				<td style="width:51%;"><img class="pat-img" src="__ROOT__/public/images/hzgl/jiebang.png"/></td>	
			</tr>
			<tr>
				<td>安保处</td>
				<td>2131564JGHsa</td>
				<td>血压计</td>
				<td><a href="javascript:;" class="details" ><img class="pat-img" src="__ROOT__/public/images/hzgl/binding.png"/></a></td>
				<td style="width:51%;"><img class="pat-img" src="__ROOT__/public/images/hzgl/jiebang.png"/></td>
			</tr>
		</table>
	</div>



